<!-- header -->
<header>
    <a href="#" class="logo">
      <img src="assets/logo.png" alt="" />
    </a>
    <ul class="navlist">
      <li><a href="index.html">Home</a></li>
      <li><a href="shop.html">Shop</a></li>
      <li><a href="#">Feature</a></li>
      <li><a href="#">Pages</a></li>
      <li><a href="#">Blogs</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <div class="nav-content">
      <a href="#"><i class="ri-search-line"></i></a>
      <a href="#"><i class="ri-user-line"></i></a>
      <a href="#"><i class="ri-heart-line"></i></a>
      <a href="#"><i class="ri-shopping-bag-line"></i></a>
      <div class="bx bx-menu" id="menu-icon"></div>
    </div>
  </header>