<!-- header -->
<header>
    <a href="#" class="logo">
      <img src="assets/logo.png" alt="" />
    </a>
    <ul class="navlist">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/shop">Shop</a></li>
      <li><a routerLink="/">Feature</a></li>
      <li><a routerLink="/admin">Pages</a></li>
      <li><a routerLink="/admin">Blogs</a></li>
      <li><a routerLink="/admin">Contact</a></li>
      <li><a routerLink="/admin">Admin</a></li>
    </ul>
    <div class="nav-content">
      <a href="#"><i class="ri-search-line"></i></a>
      <a href="#"><i class="ri-user-line"></i></a>
      <a href="#"><i class="ri-heart-line"></i></a>
      <a href="#"><i class="ri-shopping-bag-line"></i></a>
      <div class="bx bx-menu" id="menu-icon"></div>
    </div>
  </header>