<!-- footer -->
<section class="footer">
    <div class="footer-box">
      <a href="#" class="logo">
        <img src="img/logo.png" alt="">
      </a>
      <h5>We belive it has the power to do <br>amazing things.</h5>
      <div class="icons">
        <a href="#"><i class="ri-facebook-line"></i></a>
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-dribbble-line"></i></a>
        <a href="#"><i class="ri-twitter-line"></i></a>
        <a href="#"><i class="ri-youtube-line"></i></a>
      </div>
    </div>
    <div class="footer-box">
      <h3>Useful Links</h3>
      <li><a href="#">Support</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of use</a></li>
      <li><a href="#">Site map</a></li>
      <li><a href="#">Expert Testimony</a></li>
    </div>
    <div class="footer-box">
      <h3>Our Services</h3>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">track Your Order</a></li>
      <li><a href="#">Returns Policy</a></li>
      <li><a href="#">Warranty & Repair</a></li>
      <li><a href="#">My account</a></li>
    </div>
    <div class="footer-box">
      <h3>Contact</h3>
      <li><a href="#">Work time</a></li>
      <li><a href="#">Monday - Friday</a></li>
      <li><a href="#">11:00 - 00:00</a></li>
      <li><a href="#">Address</a></li>
      <li><a href="#">La, Lellopitiya, Ratnapura</a></li>
    </div>
   </section>
   <div class="copyright">
    <p>All Copyright 2025 by Bhanuka Kumara</p>
   </div>